<p id="notice"><%= notice %></p>

<h1>Categories Documents</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories_documents.each do |categories_document| %>
      <tr>
        <td><%= categories_document.category.title %></td>
        <td><%= categories_document.document.title %></td>
        <td><%= link_to 'Show', categories_document %></td>
        <td><%= link_to 'Edit', edit_categories_document_path(categories_document) %></td>
        <td><%= link_to 'Destroy', categories_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categories Document', new_categories_document_path %>
