<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @suggestion.document.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @suggestion.user %>
</p>

<p>
  <strong>Text:</strong>
  <%= @suggestion.text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @suggestion.status %>
</p>
<% if @has_user_edit_permission %>
<%= button_to "Implemented", { :controller => "suggestions", :action => "change_status", :suggestion_id => @suggestion.id, :suggestion_status => "Implemented"}, {class: 'btn btn-success'} %>
<%= button_to "Rejected", { :controller => "suggestions", :action => "change_status", :suggestion_id => @suggestion.id, :suggestion_status => "Rejected"}, {class: 'btn btn-danger'} %>
<% end %>
<%= link_to 'Back', suggestions_path %>
