<h1>Documents</h1>

<table class ="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Public</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <% if document.public or @is_user_logged_in %>
        <tr>
          <td><%= document.title %></td>
          <td><%= document.public %></td>
          <% if document.text.length > 20 %>
            <td><%=  markdown(document.text[0, 20]).html_safe %></td>
          <% else %>
            <td><%= markdown(document.text).html_safe %></td>
          <% end %>
          <td><%= link_to 'Show', document, {:class => "btn btn-info"} %></td>
          <% if @show_editable_documents %>
            <td><%= link_to 'Edit', edit_document_path(document), {:class => "btn btn-success"} %></td>
            <td><%= link_to 'Destroy', document, method: :delete, class: "btn btn-danger" , data: { confirm: 'Are you sure?' }%></td>
          <% else %>
            <td><%= link_to 'Suggest Changes', {:controller => "suggestions", :action => "new", :document_id => document.id }, {:class => "btn btn-success"} %></td>
          <% end %>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path, {:class => "btn btn-success"} %>
