<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div>
          <div>
            <%= link_to content_tag("span", "", :class => 'glyphicon glyphicon-home'), root_path, class: 'navbar-brand' %>
            <%= link_to 'Categories', categories_path, class: 'navbar-text' %>
            <%= link_to 'Documents', documents_path, class: 'navbar-text' %>
            <%= link_to 'My Documents', documents_path(:show_editable_documents => true), class: 'navbar-text' %>
            <%= link_to 'Categories Documents', categories_documents_path, class: 'navbar-text' %>
          </div>
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div "nav navbar-nav navbar-left">
                <form class="navbar-form navbar-left" action="<%= documents_path %>">
                  <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Search" value="<%= params[:title] %>">
                  </div>
                  <button type="submit" class="btn btn-info active">Submit</button>
                </form>
              </div>
              <div>
                <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                <div>
                  <%= link_to content_tag("span", " Edit profile", :class => 'glyphicon glyphicon-edit'), edit_user_registration_path, :class => 'navbar-link' %> |
                  <%= link_to content_tag("span", " Log out", :class => 'glyphicon glyphicon-log-out'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                </div>
                <div>
                  Logged in as <strong><%= current_user.email %></strong>.
                </div>
                <% else %>
                  <%= link_to content_tag("span", " Login", :class => 'glyphicon glyphicon-log-in'), new_user_session_path, :class => 'navbar-link'  %>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <% unless notice.nil? %>
      <div class="alert alert-success notice"><%= notice %></div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>
  <%= yield %>
  </body>
</html>
